@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75,100..900;1,75,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;
  }
}
header {
  background-color: #eadcff;
  height: calc(100vh - 70px);
  padding: 24;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 72px;
}

.subheader {
  font-size: 36px;
  margin: 16px 0 24 0;
}
button {
  background-color: #05c7cf;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 24px;
  cursor: pointer;
}
.logo {
  width: 300px;
}
ul {
  display: flex;
}
li {
  list-style: none;
  padding-left: 16px;
}
a {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about,
#discord,
#contact,
footer {
  padding: 48px 0;
}
/* ABOUT

*/

#about {
  background-color: #f8ffdc;
}
h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}
.section__discription {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__img--wrapper {
  width: 40%;
}
img {
  width: 100%;
}
.section__description--wrapper {
  width: 60%;
}
.about__img--wrapper,
.section__description--wrapper {
  padding: 0 24px;
}

.section__description--para {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
}
/* DISCORD

*/
#discord {
  background-color: #cefeff;
}
/* CONTACT

*/
#contact {
  background-color: #dce9ff;
}

form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 24px;
}

input {
  height: 40px;
}

input,
textarea {
  margin-bottom: 24px;
  font-size: 20px;
  padding: 6px 12px;
}

/* FOOTER

*/
footer {
  background-color: #aaf5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  max-width: 480px;
  margin-bottom: 16px;
}
footer-link {
  margin-bottom: 32px;
}
footer-link {
  padding: 0 16px;
}
/*SMALL PHONES, TABLETS, LARGE SMART PHONES*/
@media (max-width: 728px) {
  /* Add your responsive styles here */
  .row {
    flex-direction: column;
  }

  .home__discription {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home__description--button {
      max-width: 240px;
    }
  }
  h1 {
    text-align: center;
    font-size: 60px;
  }
  .subheader {
    text-align: center;
    font-size: 28px;
  }

  ul {
    display: none;
  }
  .section__discription {
    flex-direction: column;
  }
  .section__description--wrapper {
    width: 100%;
  }

  .about__img--wrapper {
    width: 100%;
  }
  /*discord is aready below the text so if did not change for me*/
  #discord .section__discription {
    flex-direction: column-reverse;
  }
  footer {
    padding: 48px 24px;
  }
  /* the max-width is not working */
  footer-logo {
    max-width: 360px;
  }
}
